.image{
    height: 90%;
    width: 100%;
    background: #424242;
    margin: auto;
    border-radius: 25px;
    border: 5px;
    border-style: solid;
    border-color: #00ff99;
}

.bg-custom{
    background-color: #33ffad;
    box-shadow: 5px 7px 5px #66ffc2;
    border-radius: 25px;
}

body{
    background: #222 url('../images/bg.png') center center no-repeat;
    font-family:'Source Sans Pro', sans-serif;
}

.level{
    color: #efefef;
    font-size: 28px;
    font-weight: 300;
    font-family: 'Muli', sans-serif;
    padding-bottom: 10px;
}

#answertext {
    color: #efefef;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Muli', sans-serif;
    padding-top: 20px;
}

#inputgroup{
    width: 410px;
}

/*https://unsplash.it/1920/1080/?random*/
#cover {
    background: #222 url('https://unsplash.it/1920/1080/?random') center center no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

.navbar-nav.navbar-center { 
            position: absolute; 
            left: 50%; 
            transform: translatex(-50%); 
        } 
/* only used for background overlay not needed for centering */
/*form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
    border-radius: 10px;
}*/
